<div class="container">
    <div class="row">
        <app-header (featureSelected)="onNavigate($event)"></app-header>
    </div>
    <div class="row">
        <app-recipes *ngIf="loadedFeature==='recipes'"></app-recipes>
        <app-shoppinglist *ngIf="loadedFeature==='shopping-list'"></app-shoppinglist>
    </div>
</div>