<div class="row">
<div class="col-xs-10">
<app-shoppinglist-edit></app-shoppinglist-edit>
<hr>
<ul class="list-group">
    <a class="list-group-item" *ngFor="let ing of ingredients">
        {{ing.name}} ({{ing.amount}})
    </a>
</ul>
</div>
</div>